/*
 * SCSS variables
 * @file     _vars.scss
 * @author   Lukas Bestle <http://lu-x.me>
 */

// Font sizes
$base-font-size:   16px;
$extr-font-size:   17px;

// Colors
$back-color:       white;
$brand-color-dark: darken($brand-color, 25);
